  <div id="footer">
		<a href="###" class="btnOpen">풋터 펼쳐보기</a> <!-- modify20170421-3 -->
		<div class="bg">
			<div class="con1">
				<a href="https://appsto.re/us/eJJ84.i"><img src="/assets/images/img_appstore.png" alt="App Store"></a>
				<a href="https://play.google.com/store/apps/details?id=com.envicase"><img src="/assets/images/img_googlelplay.png" alt="Google play"></a>
			</div>
			<div class="con2">
				TID Global Corp.<br>
				54 W. 40th St., New York, NY 10018, United<br> States<br>
				<a href="mailto:info@envicase.com">info@envicase.com</a><br>
				2017 - envicase all rights reserved.
			</div>
			<div class="con3">
				<a href="###"><img src="/assets/images/ico_facebook.png" alt="facebook"></a>
				<a href="###"><img src="/assets/images/img_instagram.png" alt="instagram"></a>
			</div>
			<div class="con4">
				<a href="###">Terms of Use</a>
				<a href="###">Privacy Policy</a>
				<a href="###">Reruit</a>
				<a href="###">Open Source</a>
			</div>
		</div>
	</div>